body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  width: 100%;
  background-color: #192045;
  color: #fff;
}

.header {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  font-size: 1.5rem;
}

.header nav {
  width: 100%;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.header nav ul li {
  padding: 10px;
  text-decoration: none;
  list-style: none;
}

main {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.title h1 {
  font-size: 2rem;
}

.title p {
  width: 70%;
  margin: 0 auto;
  height: 100px;
  padding-top: 50px;
  font-size: 1.2rem;
}

.title button {
  padding: 10px;
  background-color: #192045;
  color: #fff;
  border-radius: 10px;
}

.description {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.description h1 {
  font-size: 2rem;
}

.description p {
  width: 70%;
  margin: 0 auto;
  height: 100px;
  padding-top: 50px;
  font-size: 1.2rem;
}
